{% extends 'base.html' %}
{% block bb %}
영화 페이지
<a href="{% url 'movies:movie_new' %}">New</a>
<div class="container">
{% for movie in movies %}
<div class="card mb-3">
    
    <h5 class="card-header">
        <a href="{% url 'movies:movie_detail' movie.id %}">{{movie.title}}</a>
    </h5>
    
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-3">
                <img src="{{movie.poster_url}}"></img>
            </div>
            <div class="col-9">
                <p class="card-text">{{movie.description}}</p>    
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-3">
                <a href="{% url 'movies:movie_edit' movie.id %}" class="btn btn-info">수정</a>
            </div>
        </div>
    </div>
</div>

{% endfor %}
</div>
{% endblock %}