

<div class="row">
    <section id="about" class="col-lg-12 mx-auto align-items-center">
        <div style="height: 100%;" class="d-flex flex-column align-items-center justify-content-center">
            <b><h1>
                “나를 죽이지 못한 고통은 나를 더욱 강하게 할 것이다.”</b>
            </h1>
            <br>
            <div>
                <h5>
                    “What does not destroy me, makes me stronger.”
                </h5>
                
                <p>
                    - Friedrich Nietzsche   
                </p>
            </div>
        </div>
        
        
        
    </section>
    

</div>