<div class="row">
    <section id="skills"  class="content col-lg-12 mx-auto align-items-center">
        <div id="carouselExampleCaptions" class="rounded carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner rounded cshadow">
            <div class="carousel-item active">
                <img style="width: 100%; height: 410px;" src="{{ '../img/1.jfif' | prepend: site.baseurl }}" class="rounded d-block w-100" alt="...">
                <div class="caption-position p-0">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img style="width: 100%; height: 410px;" src="{{ '../img/2.jfif' | prepend: site.baseurl }}" class="rounded d-block w-100" alt="...">
                <div class="caption-position p-0">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img style="width: 100%; height: 410px;" src="{{ '../img/3.jfif' | prepend: site.baseurl }}" class="rounded d-block w-100" alt="...">
                <div class="caption-position p-0">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
            </div>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
</div>

