<section id="vision" >
<button>2017</button>
<button>2018</button>
<button>2019</button>
<button>2020</button>
<h1>
    2020
</h1>
<p>
    목표와 현재 하고 있는 일
    흐름은 onepage 개발로 나는 ~을 목표로 하며 그래서 ~했고 ~했으며 ~ 결과를 얻어 현재 ~한 것을 준비하고 있다.
</p>
<hr>
<div class="row">
    <div class="col-lg-4">
        <h3>프로젝트</h3>
        <ul>
            <li>프로젝트1</li>
            <li>프로젝트2</li>
            <li>프로젝트3</li>
        </ul>
    </div>

    <div class="col-lg-4">
        <h3>Skill</h3>
        <ul>
            <li>skill1</li>
            <li>skill2</li>
            <li>skill3</li>
        </ul>
    </div>
    <div class="col-lg-4">
        <h3>Used Tool</h3>
        <ul>
            <li>tool1</li>
            <li>tool2</li>
            <li>tool3</li>
        </ul>
    </div>
</div>
</section>

