<section id="publish" >
    <h1>Skill Definition & Point</h1>
    <div class="row">
        <div class="col-lg-4">
            <h3>My Skill Lv Definition</h3>
            <div>Can read and understand the code</div>
            <div>Skeleton project exprience</div>
            <div>Toy Project exprience</div>
            <div>Project collaboration exprience</div>
            <div>Programmable without documentation</div>
        </div>
        <div class="col-lg-4">
            <h3>Language</h3>
            <div>JAVA</div>
            <div>JavaScript</div>
        </div>
        <div class="col-lg-4"></div>

        학습 내용 정리한 wikidoc 연결 및 sitemap
    </div>


    <div class="row">
        <img class="col-lg-4 card-img-top rounded" src="{{ '../img/1.jfif' | prepend: site.baseurl }}" alt="Card image cap">
        <img class="col-lg-4 card-img-top rounded" src="{{ '../img/2.jfif' | prepend: site.baseurl }}" alt="Card image cap">
        <img class="col-lg-4 card-img-top rounded" src="{{ '../img/3.jfif' | prepend: site.baseurl }}" alt="Card image cap">
    </div>
    

</section>