

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{ '../css/base.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '../css/bootstrap-4.4.1_css/bootstrap.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" media="(max-width: 320px)" href="{{ './css/mobile_vertical.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" media="(min-width: 320px)" href="{{ './css/mobile_horizon.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" media="(min-width: 480px)" href="{{ './css/tablet_vertical.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" media="(min-width: 768px)" href="{{ './css/tablet_horizon.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" media="(min-width: 992px)" href="{{ './css/desktop.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" media="(min-width: 1200px)" href="{{ './css/large.css' | prepend: site.baseurl }}">
    
</head>

