<div class="container">
    <div class="row">
    {% for post in posts %}
    <div class="col-12 col-sm-6 col-md-5 col-lg-4 mb-5">
        <div class="card" style="width: 18rem;">
          <img src="{{post.poster_url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="{% url 'movies:detail' post.id %}">
            <h5 class="card-title">{{post.title}}</h5>
            </a>
            <a href="#" class="btn btn-success">{{post.score}}</a>
          </div>
        </div>
    </div>
        
    {% endfor %}
    </div>
</div>