{%extends "watchlist/base.html"%}
{%block bb%}
<div class="row">
    <div class="col">
        
        <div class="card">
  <div class="card-body">
    <form action="/movies/{{movie.id}}/update" method="post">
    {%csrf_token%}
    제목 : <input type="text" name="title" value="{{movie.title}}"><br>
    영어제목 :<input type="text" name="title_en" value="{{movie.title_en}}"><br>
    관객수 :<input type="number" name="audience" value="{{movie.audience}}"><br>
    개봉일 :<input type="date" name="open_date" value="{{movie.open_date}}"><br>
    장르 :<input type="text" name="genre" value="{{movie.genre}}"><br>
    관람등급 :<input type="text" name="watch_grade" value="{{movie.watch_grade}}"><br>
    점수 :<input type="number" name="score" value="{{movie.score}}"><br>
    포스터 :<input type="text" name="poster_url" value="{{movie.poster_url}}"><br>
    설명 :<input name="description" value="{{movie.description}}"><br>
    <input type="submit" value="수정"><br>
</form>
  </div>
</div>
        
        
        
        

</div>
</div>
{%endblock%}