<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>우리반 정보</h1>
    
    <h3>Teacher</h3>
    <h3>{{teachers.cate}}</h3>
    <ul>
    
        <li>{{teachers.name}}</li>
    
    </ul>
    
    <h3>Student</h3>
    <h3>{{students.cate}}</h3>
    <ul>
    {% for student in students %}
        <li>{{student.name}}</li>
    {% endfor %}
    </ul>

    
</body>
</html>